{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script>
        function show_menu(){
            let navmenu = document.getElementById('navbar');
                navmenu.classList.toggle('show');     
    }; 

    // url para buscar /busca/?search=

    </script>
</head>
<body>
  <header class="p-3 bg-dark fixed-top text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-between">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <img class="foto-detail" src="/media/logo_slab.png" style="max-width: 135px;">
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a class="nav-link px-2 text-secondary" href="/admin">Admin<span class="sr-only">(atual)</span></a></li>
            <li><a href="#" class="nav-link px-2 text-white" href="/">Atualizar Lista</a></li>
            <li><a href="#" class="nav-link px-2 text-white" href="/admin/cadastro/cadastro/add/">Cadastrar</a></a></li>
        </ul>

        <!-- <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="form-control form-control-dark text-white bg-dark" placeholder="Search..." aria-label="Search">
        </form> -->

  <!-- <div class="text-end">
          <button type="button" class="btn btn-outline-light me-2">Login</button>
          <button type="button" class="btn btn-warning">Sign-up</button>
        </div>
  -->
      </div>
    </div>
  </header>
    <main>
        <div class="container-fluid" style="min-height: 83.6vh;padding-top: 17vh;">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <footer id="sticky-footer" class="footer py-3 bg-dark text-white-50" style="margin-top: 20px;">
        <div class="container text-center">
          <small>Copyright &copy; Street Life Academy Basquetebol - Lisboa</small> | <small>Site Desenvolvido por <a href="https://www.linkedin.com/in/ana-beatriz-machado-dev/" style="color: #ffc107!important;">Beatriz Machado</a></small>
        </div>
    </footer>
</body>
</html>