{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SLAB|Lisboa</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script></head>
<body>
    <header>
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-text">
                Street Life Academy Basquetebol - Lisboa
            </span>
        </nav>
    </header>
    <main>
        <div style="padding: 10px 10px 70px 10px;">
            {% block content %}
            {% endblock %}
        </div>
    </main>
</body>
</html>