{% extends "cadastro/base.html" %}

{% block title %} SLAB - Lista de Alunos {% endblock %}

{% block content %}
    <nav class="navbar navbar-light bg-light">
      <span class="navbar-brand mb-0 h2">Lista de Alunos</span>
    </nav>
    {% for cad in cadastro_list %}
      <a href="/{{cad.slug}}" class="list-group-item list-group-item-action" style="margin-bottom: 5px;box-shadow: 4px 2px 11px 0px #00000015;">
          <div class="d-flex w-100 justify-content-around">
            <h5 class="mb-1">{{ cad.nome_completo_aluno }}</h5>
          </div>
          <div class="d-flex" style="margin: 3px 0px 10px 0px;">
            <div style="display: flex;justify-content: center;align-items: center;">
              <img src=".{{ cad.foto.url }}" style="width: 90px;height: 90px;border-radius: 100%;box-shadow: 4px 2px 11px 0px #00000052;object-fit: cover;">
            </div>
          <div class="w-100" style="padding-left: 15px;">
            <small class="text-muted">Comentarios:</small> 
            <p class="mb-1 text-muted" style="margin-bottom: 5px!important;">{{ cad.comentarios }}</p>
          </div>
        </div>
        <Row class="d-flex w-100 justify-content-center"><small class="text-muted">Cadastrado em {{ cad.created.day }}/{{ cad.created.month }}/{{ cad.created.year }} por {{ cad.author }}</small></Row>
      </a>
    </Row>
    {% endfor %}
{% endblock %}
