{% extends "cadastro/base.html" %}

{% block title %} SLAB - Lisboa {% endblock %}

{% block content %}
    <nav class="navbar navbar-light bg-light">
      <span class="navbar-brand mb-0 h2">Lista de Alunos</span>
    </nav>
    {% for cad in cadastro_list %}
      <a href="/{{cad.slug}}" class="list-group-item list-group-item-action" style="margin-bottom: 5px;">
        <div class="d-flex">
          <div style="display: flex;justify-content: center;align-items: center;">
            <img class="foto-detail" src=".{{ cad.foto.url }}" style="width: 80px;height: 80px;border-radius: 100%;box-shadow: 4px 2px 11px 0px #00000052;object-fit: cover;">
          </div>
          <div class="w-100" style="padding-left: 15px;">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{ cad.nome_completo_aluno }}</h5>
              <small class="text-muted">Criador por {{ cad.author }}</small>
            </div>
            <small class="text-muted">Comentarios:</small> 
            <p class="mb-1 text-muted" style="margin-bottom: 12px!important;">{{ cad.comentarios }}</p>
            <small class="text-muted">Cadastrado em {{ cad.created }}</small>  
          </div>
        </div>
      </a>
    </Row>
    {% endfor %}
{% endblock %}
